.register-form__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: url("../../assets/blurry-gradient-haikei.png") center;
    background-size: cover;
}

.register-form__container .container {
    width: 35rem;
    background-color: white;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}